* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
  }
  
  body {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content: start;
    width: 45%;
    height: 100vh;
}

.instagram-phone {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone img {
    height: 50rem;
}

.instagram-continue {
    display: flex;
    align-items: center; /* horizontal */
    justify-content: space-around; /* vertical */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 400px;
    padding: 1rem 0;
    border: 1px solid lightgray;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 3rem;
}

.profile-photo {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img {
    height: 6rem;
}

.instagram-login {
    background-color: #0095f6;
    color: #ffffff;
    padding: 8px;
    border-radius: 4px;
    width: 240px;
    text-align: center;
   
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('/img/apple-button.png');
}

.app-download:nth-child(2) {
    background-image: url('/img/googleplay-button.png');
}

/* media queries */


@media (max-width: 1024px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    
    .group {
        border: 1px solid transparent;
    }
}


.container
{
  width: 50%;
  margin: 3rem auto;
}

#loginForm
{
  background: #FFF;
  padding: 2rem;
  }
  
}

#loginForm h2
{
  text-align: center;
}

#loginForm label
{
  display: block;
}

#loginForm input
{
  padding: 5px;
}
#loginForm input[type=text]
{
  width: 95%;
}
#loginForm #password
{
  width: 70%;
}

.button
{
  background: #eee;
  border: 1px solid #999;
  cursor: pointer;
  padding: 6px !important;
}

.button:hover
{
  background: #ddd;
}

div.entrarcom {
  margin-top: 20px;
}

button.face-login {
  color: #385185;
  background: 0 0;
  border: 0;
  cursor: pointer;
  text-align: center;
}

span.face-login {
  font-family: inherit;
  font-size: 14px;
  font-weight: 600;
}

a.recover {
  margin-top: 16px;
  font-size: 12px;
  color: #00376b;
}

/*Não tem uma conta? */

a {
  color: #0095f6;
}

div.links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 0;
  text-align: center;

  color: #8e8e8e;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

div.ou {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  align-items: baseline;
  color: #8e8e8e;
}

hr#barra-l {
  width: 100px;
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 18px;
  border: 0;
  border-top: 1px solid #a9aaac;
}

hr#barra-r {
  width: 100px;
  margin-left: 18px;
  margin-right: 100px;
  border: 0;
  border-top: 1px solid #a9aaac;
}


::placeholder {
  font-size: 12px;
}

.entrada {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 9px 0px 7px 8px;
  width: 260px;
  background-color: #fafafa;
  border-width: 1px;
  border-color: rgb(250, 250, 250);
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
  outline: 0;
  border-radius: 3px;
  height: 39px;
}

input#email {
  margin-top: 40px;
}

input#senha {
  margin-top: -5px;
  margin-bottom: 15px;
}